# This is a basic workflow to help you get started with Actions

name: CI & CD

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "master" branch
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

  # Allows you to run this workflow manually from the Actions tab
  #workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Run a one-line script
        run: echo "Build project"

  deploy_test:
    name: Deploy on TEST (autodeploy)
    needs: [build]
    runs-on: ubuntu-latest
    environment: TEST
    steps:
      - name: Run a one-line script
        run: echo "Deploy on TEST"

  deploy_qa:
    name: Deploy on QA (requires approval)
    needs: [build, deploy_test]
    runs-on: ubuntu-latest
    environment: QA
    steps:
      - name: Run a one-line script
        run: echo "Deploy on QA"
